.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  display: flex;
  padding: 100px 0px;
  height: 100vh;
  min-height: 800px;
  background-color: #333333;
  justify-content: space-evenly;
}